@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');


body{
    background-color: #7e7e7e;
    font-family: 'Source Sans Pro', sans-serif;
}
.cabecalho{
    width: 100%;
    height: 50px;
}
/* Inicio Banner */

.banner {
    background-color: black;
    width: 100%;
    height: 430px;
    border: 100px;
    box-shadow: 3px 3px 3px black;

}
.infosBanner{
    padding-left: 550px;
    padding-top: 50px;
}
.infosBanner > .apresentacaoTexto3{
    padding-top: 40px;
}
img.eu{
    position: absolute; top:160px; left:100px;
    border: 100px;
    box-shadow: 3px 3px 3px black;
}
.apresentacao{
    color: white;
}
.apresentacaoTexto{
    color: white;
}
.apresentacaoTexto1{
    color: white;
}
.apresentacaoTexto2{
        color: white;
}
.apresentacaoTexto3{
    color: white;
}
/* Fim Banner */


/* Media responsividade*/
@media (max-width: 1680px){
    img.eu {
        margin: auto;
        display: block;
        position: relative;
        width: 400px;
    }
    .banner{
        height: 950px;

    }
    .infosBanner{
        margin: auto;
        text-align: center;
        padding-top: 160px;
        padding-left: 200px;
    }

}

/* Inicio Main */
main {
    width: auto;
    height: 700px;
}
.infos{
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 30%;
    margin-top: 150px;
}
.teste{
    margin-right: 40%;
}

.rodape{
    background-color: black;
    height: 100px;
    position: relative;  
    text-align: center;
}
.icons{
    width: 37px;
}
#listaSocial ul li { display: inline;}

#listaSocial ul li a {
    display: inline-block;
}
#listaSocial li{
    margin: 20px;
}
#listaSocial ul{
    padding-top: 35px;
}